In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mar Del Plata,AR,2021-08-07 14:00:00,-38.0023,-57.5575,53.62,100,90,10.36
1,1,Port Elizabeth,ZA,2021-08-07 14:00:51,-33.9180,25.5701,70.11,73,87,11.83
2,2,Jamestown,US,2021-08-07 14:00:51,42.0970,-79.2353,78.03,77,98,1.01
3,3,Prince Rupert,CA,2021-08-07 14:00:29,54.3161,-130.3201,53.69,100,90,4.61
4,4,Elbrus,RU,2021-08-07 14:00:52,43.2577,42.6443,69.17,70,100,5.84

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Jamestown,US,2021-08-07 14:00:51,42.0970,-79.2353,78.03,77,98,1.01
5,5,Kapaa,US,2021-08-07 14:00:53,22.0752,-159.3190,79.12,75,20,1.01
6,6,Bara,NG,2021-08-07 14:00:53,10.3744,10.7288,81.91,71,100,8.66
11,11,Berezeni,RO,2021-08-07 14:00:56,46.3761,28.1478,80.06,38,0,12.03
22,22,Bengkulu,ID,2021-08-07 14:01:02,-3.8004,102.2655,78.21,86,16,2.30
23,23,Novoderevyankovskaya,RU,2021-08-07 14:01:03,46.3231,38.7472,87.84,37,100,9.93
24,24,Saraland,US,2021-08-07 14:01:04,30.8207,-88.0706,86.22,78,5,1.25
29,29,Crateus,BR,2021-08-07 14:01:08,-5.1783,-40.6775,88.39,32,5,12.24
32,32,Oussouye,SN,2021-08-07 14:01:10,12.4850,-16.5469,82.94,73,90,11.07
38,38,Cabo San Lucas,MX,2021-08-07 14:01:12,22.8909,-109.9124,83.52,76,87,7.99

In [12]:
preferred_cities_df.count()

City_ID       201
City          201
Country       199
Date          201
Lat           201
Lng           201
Max Temp      201
Humidity      201
Cloudiness    201
Wind Speed    201
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                    City Country  Max Temp      Lat       Lng Hotel Name
2              Jamestown      US     78.03  42.0970  -79.2353
5                  Kapaa      US     79.12  22.0752 -159.3190
6                   Bara      NG     81.91  10.3744   10.7288
11              Berezeni      RO     80.06  46.3761   28.1478
22              Bengkulu      ID     78.21  -3.8004  102.2655
23  Novoderevyankovskaya      RU     87.84  46.3231   38.7472
24              Saraland      US     86.22  30.8207  -88.0706
29               Crateus      BR     88.39  -5.1783  -40.6775
32              Oussouye      SN     82.94  12.4850  -16.5469
38        Cabo San Lucas      MX     83.52  22.8909 -109.9124

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Jamestown,US,78.03,42.0970,-79.2353,Hampton Inn & Suites Jamestown
5,Kapaa,US,79.12,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
6,Bara,NG,81.91,10.3744,10.7288,
11,Berezeni,RO,80.06,46.3761,28.1478,Coliba Bozia George Paul Jumi Andrei
22,Bengkulu,ID,78.21,-3.8004,102.2655,Grage Hotel Bengkulu
23,Novoderevyankovskaya,RU,87.84,46.3231,38.7472,
24,Saraland,US,86.22,30.8207,-88.0706,Microtel Inn & Suites by Wyndham Saraland/Nort...
29,Crateus,BR,88.39,-5.1783,-40.6775,Orient Plaza Hotel
32,Oussouye,SN,82.94,12.4850,-16.5469,Auberge du Routard
38,Cabo San Lucas,MX,83.52,22.8909,-109.9124,Hotel Tesoro Los Cabos

In [17]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [21]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))