## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,New Norfolk,AU,-42.7826,147.0587,45.90,82,12,2.95,few clouds,2021-08-08 15:40:52
1,1,Ushuaia,AR,-54.8000,-68.3000,40.66,65,75,8.05,broken clouds,2021-08-08 15:36:58
2,2,Mar Del Plata,AR,-38.0023,-57.5575,50.02,66,0,13.80,light rain,2021-08-08 15:40:53
3,3,Basco,PH,20.4487,121.9702,83.82,86,100,23.38,overcast clouds,2021-08-08 15:40:53
4,4,Mercedes,AR,-34.6515,-59.4307,55.89,63,71,18.32,moderate rain,2021-08-08 15:40:54

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
3,3,Basco,PH,20.4487,121.9702,83.82,86,100,23.38,overcast clouds,2021-08-08 15:40:53
5,5,Arraial Do Cabo,BR,-22.9661,-42.0278,75.16,60,20,14.97,few clouds,2021-08-08 15:32:38
12,12,Istisu,AZ,40.9457,48.0738,80.78,44,22,3.06,few clouds,2021-08-08 15:40:56
13,13,Bachaquero,VE,9.9694,-71.1494,85.84,69,72,9.62,broken clouds,2021-08-08 15:40:56
14,14,Ponta Do Sol,PT,32.6667,-17.1000,77.00,78,64,2.55,broken clouds,2021-08-08 15:40:57
17,17,Butaritari,KI,3.0707,172.7902,82.49,65,13,11.79,few clouds,2021-08-08 15:40:58
18,18,Puerto Narino,CO,-3.7703,-70.3831,87.75,38,12,0.83,few clouds,2021-08-08 15:40:58
20,20,Albany,US,42.6001,-73.9662,82.81,72,97,1.83,overcast clouds,2021-08-08 15:37:00
21,21,Busayra,JO,30.7376,35.6078,83.26,27,0,14.47,clear sky,2021-08-08 15:40:59
25,25,East London,ZA,-33.0153,27.9116,76.14,41,0,5.75,clear sky,2021-08-08 15:29:55

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                277
City                   277
Country                276
Lat                    277
Lng                    277
Max Temp               277
Humidity               277
Cloudiness             277
Wind Speed             277
Current Description    277
Date                   277
dtype: int64

In [14]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
3,3,Basco,PH,20.4487,121.9702,83.82,86,100,23.38,overcast clouds,2021-08-08 15:40:53
5,5,Arraial Do Cabo,BR,-22.9661,-42.0278,75.16,60,20,14.97,few clouds,2021-08-08 15:32:38
12,12,Istisu,AZ,40.9457,48.0738,80.78,44,22,3.06,few clouds,2021-08-08 15:40:56
13,13,Bachaquero,VE,9.9694,-71.1494,85.84,69,72,9.62,broken clouds,2021-08-08 15:40:56
14,14,Ponta Do Sol,PT,32.6667,-17.1000,77.00,78,64,2.55,broken clouds,2021-08-08 15:40:57
17,17,Butaritari,KI,3.0707,172.7902,82.49,65,13,11.79,few clouds,2021-08-08 15:40:58
18,18,Puerto Narino,CO,-3.7703,-70.3831,87.75,38,12,0.83,few clouds,2021-08-08 15:40:58
20,20,Albany,US,42.6001,-73.9662,82.81,72,97,1.83,overcast clouds,2021-08-08 15:37:00
21,21,Busayra,JO,30.7376,35.6078,83.26,27,0,14.47,clear sky,2021-08-08 15:40:59
25,25,East London,ZA,-33.0153,27.9116,76.14,41,0,5.75,clear sky,2021-08-08 15:29:55

In [15]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Basco,PH,83.82,overcast clouds,20.4487,121.9702,
5,Arraial Do Cabo,BR,75.16,few clouds,-22.9661,-42.0278,
12,Istisu,AZ,80.78,few clouds,40.9457,48.0738,
13,Bachaquero,VE,85.84,broken clouds,9.9694,-71.1494,
14,Ponta Do Sol,PT,77.00,broken clouds,32.6667,-17.1000,
17,Butaritari,KI,82.49,few clouds,3.0707,172.7902,
18,Puerto Narino,CO,87.75,few clouds,-3.7703,-70.3831,
20,Albany,US,82.81,overcast clouds,42.6001,-73.9662,
21,Busayra,JO,83.26,clear sky,30.7376,35.6078,
25,East London,ZA,76.14,clear sky,-33.0153,27.9116,

In [22]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Basco,PH,83.82,overcast clouds,20.4487,121.9702,Nathaniel's Lodge
5,Arraial Do Cabo,BR,75.16,few clouds,-22.9661,-42.0278,Pousada Porto Praia
12,Istisu,AZ,80.78,few clouds,40.9457,48.0738,Shirvan Resort (Halal)
13,Bachaquero,VE,85.84,broken clouds,9.9694,-71.1494,casa de los dinosaurios
14,Ponta Do Sol,PT,77.00,broken clouds,32.6667,-17.1000,Hotel do Campo
...,...,...,...,...,...,...,...
693,Bacolod,PH,78.15,light rain,10.6667,122.9500,Planta Hotel & Residences
695,Cao Bang,VN,80.13,overcast clouds,22.6667,106.2500,khách sạn 88
703,Kaifeng,CN,83.26,light rain,34.7911,114.3483,Pullman Kaifeng Jianye
704,Palmas Bellas,PA,87.39,broken clouds,9.2319,-80.0867,Estación de Chagres
705,Qidong,CN,82.04,clear sky,31.8128,121.6561,Hilton Garden Inn Qidong

In [25]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.count()

City                   276
Country                276
Max Temp               276
Current Description    276
Lat                    276
Lng                    276
Hotel Name             276
dtype: int64

In [28]:
hotel_df.isnull().sum()

City                   0
Country                0
Max Temp               0
Current Description    0
Lat                    0
Lng                    0
Hotel Name             0
dtype: int64

In [30]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [34]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [35]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))